* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 1000px;
  border: 2px solid #f2921d;
}

.navBar {
  display: flex;
  background-color: #F2CD5C;
  /* border: 2px solid black; */
  align-items: center;
  top: 0;
  /* position: fixed; */
  width: 100%;
  margin-left: 0;
  /* width: 50%;
    margin: 0 50%;
    /* overflow: hidden; */
  /* margin-left: 50px; */
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  font-family: cursive;
  flex-grow: 1;
  /* display: inline-block; */
  /* text-align: center; */
}

.navBar > a {
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 25px;
  padding: 10px;
}

.section-1 {
  background-color: #F2CD5C;
  display: flex;
  margin-top: 5%;
  padding: 10px;
}

.left-side-section-1 {
  width: 50%;
  padding-left: 5%;
  padding-top: 2%;
  /* border: 2px solid black; */
  /* margin: 0 5px; */
}

.left-side-section-1 > a {
  padding: 7px;
  background-color: #f2cd5c;
  border: none;
  border-radius: 5px;
}

.left-side-section-1 > p{
text-align: justify;
}

.left-side-section-1 > h1{
  font-size: 30px;
  margin: auto;
  
}

.right-side-section-1 > img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.right-side-section-1 {
  /* border: 2px solid black; */
  text-align: center;
  padding: 5px;
  width: 50%;
}

.section-2{
  margin-top: 5%;
}

.catPicture{
  display: flex;
  width: 100%;
  justify-content: center;
  
}

.cat-pictures{
  width: 180px;
  height: 133px;
  border-radius: 10px;
}

.credits {
  font-size: small;
  margin: auto;
  padding: 0px;
  text-align: center;
}

.picture-1,
.picture-2,
.picture-3,
.picture-4,
.picture-5{
  /* border: 2px solid black; */
  width: 20%;
  margin-right: 7px;
  /* padding: px; */
}

.picture-3 > img{
  height: 133px;
  width: auto;
  margin: 0 20%;
}

.picture-5 > img{
  height: 133px;
  width: auto;
  margin: 0 20%;
}

.picture-1{
  margin-left: 5px;
}

 h3{
  text-align: center;
}

.description{
  text-align: justify;
  padding: 5px 10px;
  
}

.description:hover{
  border: 1px solid black;
  border-radius: 10px;
  background-image: linear-gradient(to right, #F2CD5C, #F2921D);

}

.section-3{
  border-left: 0.3em solid #400E32;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 7%;
  font-size: 3em;
}

.quote-author{
  font-size: large;
  text-align: right;
}