* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #F2CD5C;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  background-image: linear-gradient(to right, #A61F69, #F2921D);
}

h4{
  font-size: 1.5em;
  color: #F2CD5C;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

.navBar {
  display: flex;
  background-color: #F2CD5C;
  align-items: center;
  top: 0;
  width: 100%;
  margin-left: 0;
}



.logo {
  font-family: cursive;
  flex-grow: 1;
}

.navBar > a {
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 25px;
  padding: 10px;
}

.section-1 {
  background-color: #F2CD5C;
  display: flex;
  margin-top: 5%;
  padding: 10px;
  height: 500px;
  align-items: center;
}

.left-side-section-1 {
  width: 50%;
  padding-left: 5%;
  padding-top: 2%;
}

.left-side-section-1 > a {
  padding: 10px;
  background-color: #F2921D;
  border: none;
  border-radius: 5px;
}

.left-side-section-1 > p{
text-align: justify;
}

.left-side-section-1 > h1{
  font-size: 30px;
  margin: auto;
  
}

.right-side-section-1 {
  text-align: center;
  padding: 5px;
  width: 50%;
}

.right-side-section-1 > img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.section-2{
  margin-top: 5%;
}

.catPicture{
  display: flex;
  width: 100%;
  justify-content: center;
}

.cat-pictures{
  width: 180px;
  height: 133px;
  border-radius: 10px;
}

.credits {
  font-size: small;
  margin: auto;
  padding: 0px;
  text-align: center;
}

.picture-1,
.picture-2,
.picture-3,
.picture-4,
.picture-5{
  width: 20%;
  margin-right: 7px;
}

.picture-3 > img{
  height: 133px;
  width: auto;
  margin: 0 20%;
}

.picture-5 > img{
  height: 133px;
  width: auto;
  margin: 0 20%;
}

.picture-1{
  margin-left: 5px;
}

 h3{
  text-align: center;
}

.description{
  text-align: justify;
  padding: 5px 10px;
}

.picture-1 > article:hover,
.picture-2 > article:hover,
.picture-3 > article:hover,
.picture-4 > article:hover,
.picture-5 > article:hover{
  border: 1px solid black;
  border-radius: 10px;
  background-image: linear-gradient(to right, #F2CD5C, #F2921D);
}

.section-3{
  border-left: 0.3em solid #400E32;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 7%;
  font-size: 3em;
}

.quote-author{
  font-size: large;
  text-align: right;
}

.section-4{
  display: flex;
  border: 2px solid black;
  margin-top: 5%;
  padding: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #A61F69;
}

.right-section-4{
  border: 2px solid #F2CD5C;
  margin-left: 15%;
  margin-right: 10%;
  padding: 10px;
  border-radius: 5px;
  color: #F2CD5C;
  background-color: #F2CD5C;
}

.right-section-4:hover{
  background-image: linear-gradient(to right, #A61F69, #F2921D);
}

footer{
  margin-top: 5%;
  text-align: center;
  background-color: #F2CD5C;
  padding: 1%;
}

.top {
  place-self:end;
  position:sticky;
  bottom:20px;
}